<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Slider value: {{value}}</h2>

      <mat-slider
          class="example-margin"
          [max]="max"
          [min]="min"
          [thumbLabel]="thumbLabel"
          [(ngModel)]="value"
          [vertical]="false"
          (input)="onInputChange($event)">
      </mat-slider>
    </mat-card-content>
  </mat-card>
</div>
