.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-margin .example-h2 {
  margin: 10px;
}

.example-left-div {
  margin: 10px;
}
.example-right-div {
  margin: 10px;

}

.example-container {
  display: inline-flex;
  align-items: center;
}
